<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename = 'images/icon.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-offset-2 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>ID</th>
                                <th>Tên nhãn</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, label in label_list %}
                            <tr>
                                <td class="text-center">{{ index + 1 }}</td>
                                <td class="text-center">{{ label.id }}</td>
                                <td class="text-center">{{ label.name }}</td>
                                <td class="text-center">{{ label.create_date }}</td>
                                <td class="text-center">{{ label.update_date }}</td>
                                {% if label.status == False %}
                                <td class="text-center">Chưa được train</td>
                                {% else %}
                                <td class="text-center">Đã được train</td>
                                {% endif %}
                                <td class="text-center">
                                    <button
                                        type="button"
                                        class="btn"
                                        style="background-color: #dae8fc;"
                                        data-toggle="modal"
                                        data-target="#editForm"
                                    >Sửa</button>
                                    <button type="button" class="btn" style="background-color: #f8cecc;">Xóa</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="editForm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="editFormTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editFormTitle">Cập nhật nhãn</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        test
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
</html>
